@charset "UTF-8";
/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  color: #f1f1f1;
  font-family: Outfit;
  font-weight: 600;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ----- HEADER ---------*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  width: 100%;
  padding: calc(12px + 18 * ((100vw - 320px) / (1216)));
}

.header__panel {
  background-image: url(../assets/images/blur.png);
  padding: calc(4px + 6 * ((100vw - 320px) / (1216)));
  padding-left: calc(8px + 12 * ((100vw - 320px) / (1216)));
  padding-right: calc(8px + 12 * ((100vw - 320px) / (1216)));
  border: 2px solid rgba(101, 103, 105, 0.4470588235);
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel__search {
  margin-right: calc(38px + 57 * ((100vw - 320px) / (1216)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.panel__search img {
  width: calc(9.6px + 14.4 * ((100vw - 320px) / (1216)));
  height: calc(9.6px + 14.4 * ((100vw - 320px) / (1216)));
}

.panel__search img:not(:last-child) {
  margin-right: calc(8px + 12 * ((100vw - 320px) / (1216)));
}

.panel__links__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.panel__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.panel__nav__item {
  text-decoration: none;
  font-weight: 600;
  font-size: calc(10px + 10 * ((100vw - 320px) / (1216)));
  padding-right: calc(38px + 57 * ((100vw - 320px) / (1216)));
}

.panel__nav:last-child {
  padding-right: 0px;
}

.panel__nav__item a {
  color: #f1f1f1;
}

.panel__contacts {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.panel__contacts a > img {
  width: calc(10px + 10 * ((100vw - 320px) / (1216)));
  height: calc(10px + 10 * ((100vw - 320px) / (1216)));
}

.panel__contacts a:not(:last-child) {
  margin-right: calc(4px + 6 * ((100vw - 320px) / (1216)));
}

.panel__mobile__navigation {
  display: none;
}

.panel__logo img {
  width: calc(45px + 45 * ((100vw - 320px) / (1216)));
  height: calc(22px + 22 * ((100vw - 320px) / (1216)));
  margin-left: calc(12.2px + 20.8 * ((100vw - 320px) / (1216)));
}

@media (max-width: 767.98px) {
  .panel__links__container {
    display: none;
  }
  .panel__mobile__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .mobile__navigation__container {
    display: block;
    position: relative;
  }
  .mobile__navigation__button {
    text-align: center;
    font-size: 12px;
  }
  .panel__nav_mobile {
    display: none;
    position: absolute;
    background-color: rgba(79, 76, 76, 0.7921568627);
    z-index: 2;
    width: 100%;
  }
  .panel__nav__item_mobile {
    padding: 4px;
  }
  .panel__nav__item_mobile a {
    font-size: 12px;
    color: #f1f1f1;
  }
  .panel__mobile__navigation:hover {
    color: rgb(159, 171, 69);
  }
  .panel__mobile__navigation:hover .panel__nav_mobile {
    display: block;
  }
}
/* ---- MAIN ----------------------------------*/
.main-block {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.main-block__container {
  height: 100%;
  width: 100%;
  padding-top: calc(54.24px + 81.36 * ((100vw - 320px) / (1216)));
  padding-bottom: calc(20px + 30 * ((100vw - 320px) / (1216)));
}

.main__inner {
  height: 100%;
  width: 100%;
  padding-left: calc(12px + 18 * ((100vw - 320px) / (1216)));
  padding-right: calc(12px + 18 * ((100vw - 320px) / (1216)));
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__inner__info {
  background-image: url(../assets/images/blur.png);
  width: 40%;
  border: 2px solid rgba(101, 103, 105, 0.4470588235);
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.info__item {
  padding: calc(7.2px + 10.8 * ((100vw - 320px) / (1216)));
  padding-right: calc(10px + 15 * ((100vw - 320px) / (1216)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.info__item__title {
  font-size: calc(20px + 20 * ((100vw - 320px) / (1216)));
  font-weight: 700;
}

.info__item__subtitle {
  font-size: calc(10px + 10 * ((100vw - 320px) / (1216)));
  font-weight: 700;
  margin-bottom: calc(15px + 15 * ((100vw - 320px) / (1216)));
}

.description__title {
  font-size: calc(9px + 9 * ((100vw - 320px) / (1216)));
  font-weight: 600;
  margin-bottom: calc(8px + 8 * ((100vw - 320px) / (1216)));
}

.description__text {
  font-size: calc(10px + 4 * ((100vw - 320px) / (1216)));
  font-weight: 200;
  margin-bottom: calc(15px + 15 * ((100vw - 320px) / (1216)));
  line-height: calc(10px + 8 * ((100vw - 320px) / (1216)));
}

.info__item__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: calc(20px + 20 * ((100vw - 320px) / (1216)));
}

.info__item__buttons :not(:last-child) {
  margin-bottom: calc(8px + 7 * ((100vw - 320px) / (1216)));
}

.button {
  width: 70%;
  border: 1px solid #6e726d;
  border-radius: 5px;
  text-decoration: none;
  text-align: start;
  padding: calc(10px + 5 * ((100vw - 320px) / (1216)));
  padding-top: calc(3px + 2 * ((100vw - 320px) / (1216)));
  padding-bottom: calc(3px + 2 * ((100vw - 320px) / (1216)));
  color: #f1f1f1;
  font-size: calc(10px + 10 * ((100vw - 320px) / (1216)));
  font-weight: 700;
}

.info__item__moto {
  font-size: calc(14px + 8 * ((100vw - 320px) / (1216)));
  font-weight: 400;
}

@media (max-width: 767.98px) {
  .main-block__container {
    padding-top: calc(120px + 60 * ((100vw - 320px) / (1216)));
  }
  .main__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__inner__info {
    width: 100%;
  }
}
.main__inner__location {
  background-image: url(../assets/images/blur.png);
  border: 2px solid rgba(101, 103, 105, 0.4470588235);
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.location__container {
  padding-top: calc(50px + 50 * ((100vw - 320px) / (1216)));
  padding-bottom: calc(15.2px + 22.8 * ((100vw - 320px) / (1216)));
  padding-left: calc(10.8px + 16.2 * ((100vw - 320px) / (1216)));
  padding-right: calc(10.8px + 16.2 * ((100vw - 320px) / (1216)));
}

.location__text__name {
  font-weight: 700;
  font-size: calc(12px + 12 * ((100vw - 320px) / (1216)));
}

.coordinates__container {
  margin-top: calc(8px + 12 * ((100vw - 320px) / (1216)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.location__text__coordinates {
  display: inline-block;
  font-weight: 700;
  font-size: calc(7px + 7 * ((100vw - 320px) / (1216)));
}

.location__text__icon {
  margin-left: calc(6px + 9 * ((100vw - 320px) / (1216)));
  width: calc(7.6px + 11.4 * ((100vw - 320px) / (1216)));
  height: calc(10.8px + 16.2 * ((100vw - 320px) / (1216)));
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

@media (max-width: 767.98px) {
  .main__inner__location {
    margin-top: calc(12px + 18 * ((100vw - 320px) / (1216)));
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .location__container {
    display: block;
    padding: 10px;
  }
  .location__text__name {
    display: block;
  }
  .coordinates__container {
    margin-top: 0px;
  }
  .location__text__coordinates {
    display: inline;
  }
}